@model IEnumerable<ProjCineWeb.Model.Filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Filmes</h1>

<p>
    <a asp-action="Create">
        <input type="submit" value="Cadastrar Filme" class="btn btn-dark" />
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFilme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaixaEtaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFilme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaixaEtaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <input type="submit" value="Editar" class="btn btn-secondary" />
                </a>
                <a asp-action="Details" asp-route-id="@item.Id">
                    <input type="submit" value="Detalhes" class="btn btn-info" />
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
