@model ProjIngresso.Models.Compra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Torcedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Torcedor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingresso)
        </dt>
        <dd class="col-sm-10">
            R$
            @Html.DisplayFor(model => model.Ingresso.Preco)
            -
            @Html.DisplayFor(model => model.Ingresso.Jogo.TimeA.NomeTime)
            x
            @Html.DisplayFor(model => model.Ingresso.Jogo.TimeB.NomeTime)
            -
            @Html.DisplayFor(model => model.Ingresso.Jogo.NomeEstadio)
            -
            @Html.DisplayFor(model => model.Ingresso.Setor)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
