@model IEnumerable<ProjIngresso.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Compras</h1>

<p>
    <a asp-action="Create">
        <input type="submit" value="Comprar Ingresso" class="btn btn-dark" />
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Torcedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingresso)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Torcedor.Nome)
                </td>
                <td>
                    R$
                    @Html.DisplayFor(modelItem => item.Ingresso.Preco)
                    -
                    @Html.DisplayFor(modelItem => item.Ingresso.Jogo.TimeA.NomeTime)
                    x
                    @Html.DisplayFor(modelItem => item.Ingresso.Jogo.TimeB.NomeTime)
                    -
                    @Html.DisplayFor(modelItem => item.Ingresso.Jogo.NomeEstadio)
                    -
                    @Html.DisplayFor(modelItem => item.Ingresso.Setor)

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <input type="submit" value="Editar" class="btn btn-secondary" />
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <input type="submit" value="Detalhes" class="btn btn-info" />
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <input type="submit" value="Excluir" class="btn btn-danger" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
